<div class="container">
    <div class="big-card-photo">
        <img src="https://arquivo.devmedia.com.br/noticias/documentacao/documentacao_angular-cli-como-rodar-testes-e-checar-o-codigo_38248.png" alt="" height="200px">
    </div>
    <div class="card-title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="card-description">
        <p>
            <a href="#">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
            </a>
        </p>
    </div>
</div>